### ADS Week 5 Office Hours

![](../ads_ohours_cover.png)

In [2]:
def f(x):
    return x**2

In [3]:
f(10)

100

In [4]:
f(10.1)

102.00999999999999

In [5]:
def f(x):
    return int(x**2)

In [6]:
f(10.1)

102

In [7]:
ans = f(10.33)

In [8]:
type(ans)

int

In [9]:
print(ans)

106

In [10]:
def multi(a, b, c, d):
    return a + b//c ** d

In [11]:
multi(4, 2, 1, 6)

6

In [12]:
def multi(a, b, c, d = 8):
    return a + b//c ** d

In [13]:
multi(4, 3, 5)

4

In [14]:
multi(5, 6, 3, 2)

5

a = 4, b = 5, c = 10, d = 3

In [15]:
multi(d = 3, c = 10, b = 5, a = 4)

4

In [17]:
def exce_sum(a, b):
    try:
        if a == 0 and b == 0:
            raise ValueError("Invalid numbers")
        return a+b
    except ValueError as err:
        return str(err)

In [18]:
exce_sum(4, 5)

9

In [19]:
exce_sum(0, 0)

'Some error message'

In [20]:
exce_sum('steve', 8)

TypeError: can only concatenate str (not "int") to str

In [21]:
f = lambda x, y, z: x**2/y + z

In [22]:
f(5, 4, 3)

9.25

In [23]:
import seaborn as sns

In [25]:
penguins = sns.load_dataset('penguins')

In [26]:
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [31]:
penguins['species'].unique()

array(['Adelie', 'Chinstrap', 'Gentoo'], dtype=object)

In [28]:
penguins.loc[penguins['species'] == 'Adelie'].mean()

bill_length_mm         38.791391
bill_depth_mm          18.346358
flipper_length_mm     189.953642
body_mass_g          3700.662252
dtype: float64

In [29]:
def avg_measures(species):
    return penguins.loc[penguins['species'] == species].mean()

In [30]:
avg_measures('Adelie')

bill_length_mm         38.791391
bill_depth_mm          18.346358
flipper_length_mm     189.953642
body_mass_g          3700.662252
dtype: float64

In [32]:
def avg_measures(species):
    '''
    This function accepts a species name
    ('Adelie', 'Chinstrap', 'Gentoo')
    and returns the average measurements
    for that species in the penguins dataset.
    
    Parameters
    ---------
    species: str type
    
    Returns
    --------
    series: series of average values
    
    Examples:
    ---------
    avg_measures('Adelie') --->
    bill_length_mm         38.791391
    bill_depth_mm          18.346358
    flipper_length_mm     189.953642
    body_mass_g          3700.662252
    '''
    return penguins.loc[penguins['species'] == species].mean()

In [33]:
avg_measures?

Signature: avg_measures(species)
Docstring:
This function accepts a species name
('Adelie', 'Chinstrap', 'Gentoo')
and returns the average measurements
for that species in the penguins dataset.

Arguments
---------
species: str type

Returns
--------
series: series of average values

Examples:
---------
avg_measures('Adelie') --->
bill_length_mm         38.791391
bill_depth_mm          18.346358
flipper_length_mm     189.953642
body_mass_g          3700.662252
File:      ~/Desktop/now/emeritus/ads_september/5_week/<ipython-input-32-2dc70f705eae>
Type:      function

In [34]:
import pandas as pd

In [35]:
pd.DataFrame?

Init signature:
pd.DataFrame(
    data=None,
    index: Union[Collection, NoneType] = None,
    columns: Union[Collection, NoneType] = None,
    dtype: Union[str, numpy.dtype, ForwardRef('ExtensionDtype'), NoneType] = None,
    copy: bool = False,
)
Docstring:
Two-dimensional, size-mutable, potentially heterogeneous tabular data.

Data structure also contains labeled axes (rows and columns).
Arithmetic operations align on both row and column labels. Can be
thought of as a dict-like container for Series objects. The primary
pandas data structure.

Parameters
----------
data : ndarray (structured or homogeneous), Iterable, dict, or DataFrame
    Dict can contain Series, arrays, constants, or list-like objects.

    .. versionchanged:: 0.23.0
       If data is a dict, column order follows insertion-order for
       Python 3.6 and later.

    .. versionchanged:: 0.25.0
       If data is a list of dicts, column order follows insertion-order
       for Python 3.6 and later.

index : Index or array-like
    Index to use for resulting frame. Will default to RangeIndex if
    no indexing information part of input data and no index provided.
columns : Index or array-like
    Column labels to use for resulting frame. Will default to
    RangeIndex (0, 1, 2, ..., n) if no column labels are provided.
dtype : dtype, default None
    Data type to force. Only a single dtype is allowed. If None, infer.
copy : bool, default False
    Copy data from inputs. Only affects DataFrame / 2d ndarray input.

See Also
--------
DataFrame.from_records : Constructor from tuples, also record arrays.
DataFrame.from_dict : From dicts of Series, arrays, or dicts.
read_csv
read_table
read_clipboard

Examples
--------
Constructing DataFrame from a dictionary.

>>> d = {'col1': [1, 2], 'col2': [3, 4]}
>>> df = pd.DataFrame(data=d)
>>> df
   col1  col2
0     1     3
1     2     4

Notice that the inferred dtype is int64.

>>> df.dtypes
col1    int64
col2    int64
dtype: object

To enforce a single dtype:

>>> df = pd.DataFrame(data=d, dtype=np.int8)
>>> df.dtypes
col1    int8
col2    int8
dtype: object

Constructing DataFrame from numpy ndarray:

>>> df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
...                    columns=['a', 'b', 'c'])
>>> df2
   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9
File:           /opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py
Type:           type
Subclasses:     SubclassedDataFrame