### Applied Data Science Week 2

![](../ads_ohours_cover.png)

In [3]:
!pwd

/Users/jacobkoehler/Desktop/now/emeritus/ads_september/2_week

In [4]:
!ls

2_10_Introduction to Dictionaries in Python.ipynb
2_3_How to Use a Jupyter Notebook.ipynb
2_4_Basic Data Types.ipynb
2_5_Comparison and Logical Operators.ipynb
2_6_Lists and Indexing.ipynb
2_7_Advanced Indexing.ipynb
2_8_Updating Data in a List.ipynb
2_9_Introduction to Tuples.ipynb
week_2.ipynb

In [5]:
a = 1
b = 2.3
c = True
d = 'strings!'

In [6]:
ex_list = [a, b, c, d]

In [7]:
for ent in ex_list:
    print(type(ent), ent)

<class 'int'> 1
<class 'float'> 2.3
<class 'bool'> True
<class 'str'> strings!

In [9]:
for entities in ex_list:
    print(type(entities), entities)

<class 'int'> 1
<class 'float'> 2.3
<class 'bool'> True
<class 'str'> strings!

In [10]:
ex_tuple = (a, b, c, d)

In [11]:
for entities in ex_tuple:
    print(type(entities), entities)

<class 'int'> 1
<class 'float'> 2.3
<class 'bool'> True
<class 'str'> strings!

In [12]:
ex_list[3] = 'steve'

In [13]:
ex_list

[1, 2.3, True, 'steve']

In [14]:
ex_tuple[3] = 'steve'

TypeError: 'tuple' object does not support item assignment

In [15]:
ex_tuple = (d, b, a, c)

In [16]:
ex_tuple

('strings!', 2.3, 1, True)

In [17]:
ex_tuple[2]

1

In [18]:
ex_dictionary = {'names': ['jacob', 'bobby', 'erika'],
                'height': ['medium', 'small', 'small']}

In [19]:
ex_dictionary[0]

KeyError: 0

In [20]:
ex_dictionary['names']

['jacob', 'bobby', 'erika']

In [24]:
for ent in ex_dictionary:
    print(ent, ex_dictionary[ent])

IndentationError: expected an indented block (<ipython-input-24-4a4f01b45d5a>, line 2)

In [23]:
ex_dictionary.items()

dict_items([('names', ['jacob', 'bobby', 'erika']), ('height', ['medium', 'small', 'small'])])

In [25]:
ex_dictionary.keys()

dict_keys(['names', 'height'])

In [26]:
ex_dictionary.values()

dict_values([['jacob', 'bobby', 'erika'], ['medium', 'small', 'small']])

In [28]:
for elem in ex_list:
    if type(elem) == str:
        print(f'Somethings not right here!, Here is the offender {elem}')

Somethings not right here!, Here is the offender steve

In [29]:
'This is variable ex_list'

'This is variable ex_list'

In [30]:
f'This is variable {ex_list}'

"This is variable [1, 2.3, True, 'steve']"

In [31]:
'This is a variable {}'.format(ex_list)

"This is a variable [1, 2.3, True, 'steve']"

In [36]:
for elem in ex_list:
    if type(elem) == str:
        print(f'Somethings not right here!, Here is the offender {elem}')
    elif type(elem) == str:
        print(f'We got an int; here it is {elem}')
    elif type(elem) == bool:
        pass
    else:
        print('Nothing going on here.')

Nothing going on here.
Nothing going on here.
Somethings not right here!, Here is the offender steve

In [41]:
temperature = 40

In [42]:
if temperature > 70:
    print('bring sandals')
elif temperature > 50:
    print('bring socks')
elif temperature > 30:
    print('bring sweaters')
elif temperature > 10:
    print('bring heaters')
else:
    print('bring vodka')

bring sweaters

In [43]:
import pandas as pd

In [44]:
pd.DataFrame(ex_dictionary)

   names  height
0  jacob  medium
1  bobby   small
2  erika   small

In [45]:
new_list = []
for num in range(1, 10):
    new_list.append(num)

In [46]:
new_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
new_list_faster_and_sleeker_version = [num for num in range(1, 10)]

In [50]:
{i:i+10 for i in range(10)}

{0: 10, 1: 11, 2: 12, 3: 13, 4: 14, 5: 15, 6: 16, 7: 17, 8: 18, 9: 19}