# First Notebook: ADS

This week we'll look at data types, variables, and collections.

Now, I'm writing *markdown*, it's pretty **simple**, but wait, there's more:

$$f(x) = x^2$$

<h5>This is an html header</h5>

```
$$f(x) = x^2$$

<h5>This is an html header</h5>
```

In [1]:
2 + 2

4

In [2]:
4 * 5

20

In [3]:
5 - 10

-5

In [4]:
10 / 6

1.6666666666666667

In [5]:
10 // 6

1

In [6]:
10 % 4

2

In [7]:
2**3

8

In [20]:
10.4

10.4

#### The four main datatypes

- int
- float
- str
- bool

In [9]:
#integers
1

1

In [11]:
#floats
1.0

1.0

In [12]:
type(1)

int

In [13]:
type(1.0)

float

In [14]:
#strings
'Hello, world!'

'Hello, world!'

In [15]:
type('Hello, world!')

str

In [16]:
True, False

(True, False)

In [17]:
type(False)

bool

In [18]:
True + 10

11

In [19]:
False + 10

10

### Variables

In [22]:
words = "This is a bigger sentence that I don't want to rewrite"

In [23]:
words

"This is a bigger sentence that I don't want to rewrite"

In [24]:
type(words)

str

In [25]:
number_as_integer = 1

In [26]:
type(number_as_integer)

int

In [27]:
number_as_integer + 8

9

In [28]:
words + number_as_integer

TypeError: can only concatenate str (not "int") to str

In [29]:
words + words

"This is a bigger sentence that I don't want to rewriteThis is a bigger sentence that I don't want to rewrite"

### Collections

In [32]:
#list
my_list = [1, 2, 3, 4, True, 'steve', 10.2]

In [33]:
type(my_list)

list

In [34]:
#getting things out of a list
my_list

[1, 2, 3, 4, True, 'steve', 10.2]

In [35]:
my_list[1]

2

In [36]:
my_list[-1]

10.2

In [37]:
my_list[:2]

[1, 2]

In [38]:
my_list[::2]

[1, 3, True, 10.2]

In [39]:
my_list[-1] = 12.10

In [40]:
my_list

[1, 2, 3, 4, True, 'steve', 12.1]

In [41]:
#tuple
my_tuple = (1, 2, 3, True, 'steve', 23.3)

In [42]:
my_tuple[0]

1

In [43]:
my_tuple[-1]

23.3

In [45]:
my_tuple[-1] = 10.2

TypeError: 'tuple' object does not support item assignment

In [46]:
#dictionary
my_dict = {'names': ['hardy', 'oden', 'jacob'],
          'ages': [1, 12, 20]}

In [47]:
my_dict[0]

KeyError: 0

In [48]:
my_dict['names']

['hardy', 'oden', 'jacob']

In [49]:
my_dict['ages']

[1, 12, 20]

In [50]:
my_set = {4, 4, 4, 5, 'steve'}

In [51]:
my_set

{4, 5, 'steve'}

In [52]:
type(my_set)

set

### Operations on Objects

- int
- float
- str
- bool
- list
- dict

In [53]:
my_string = 'Hello this is a string'

In [54]:
my_string.upper()

'HELLO THIS IS A STRING'

In [55]:
my_list.append('jacob')

In [56]:
my_list

[1, 2, 3, 4, True, 'steve', 10.2, 'jacob']

In [57]:
my_dict.keys()

dict_keys(['names', 'ages'])

In [58]:
my_set.add(9)

In [59]:
my_set

{4, 5, 9, 'steve'}

In [60]:
data = {'ages': [20, 30, 40]}

In [61]:
data['ages']

[20, 30, 40]

In [62]:
sum(data['ages'])

90

In [64]:
data['names'] = ['pitbull', 'lab', 'pitbull']